.piechart{
    height: 50%;
    width:  50%;
    margin-left: 26%;
}


.TodoPic , .TimerPic{
    float: left;
    width: 500px;
    margin-left: 10px; 
    border-radius: 15px;
}

.TodoInfo , .TimerInfo{
    margin-right: 100px;
    position: relative;
    left: 10px;   
    top: -30px;
    padding: 0px 100px 0px 100px;
}

.TodoInfo p, .TimerInfo p{
    font-size: 23px;
}
.TimerPic{
    margin-right: 10px;
    float: right;
}

.TodoInfo{
    position: relative;
    left: 20px;
}