body {
  align-items: center;
}
.number-container {
  height: 48px;
  width: 140px;
  margin-right: 20px;
}
.number-container .number-input {
  box-sizing: border-box;
  height: 100%;
  width: 140px;
  margin-top: 8px;
  border-radius: 10px;
  border-style: none;
  background: #eff1fa;
  padding-left: 16px;
  color: #1e213f;
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (max-width: 650px) {
  .number-container {
    width: 140px;
    height: 40px;
  }
}
