@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*
===============
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


/*  global classes */


/* section */

.section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}


/*
===============
Hero Styles
===============
*/

.btn {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    border-color: transparent;
    color: white;
    background: var(--clr-black);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background: var(--clr-grey-5);
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    background: url(./images/hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
    /* margin-top: 10rem; */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.hero-center {
    width: 90vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.hero-info h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    max-width: 500px;
    margin-bottom: 2rem;
    padding-top: 0.5em;
}

.hero-info p {
    max-width: 35em;
    line-height: 1.8;
}

.hero-images {
    max-width: fit-content;
}


/* hero media query */

@media screen and (max-width: 800px) {
    .hero::before {
        background-size: contain;
        height: 100%;
    }
    .hero-center {
        flex-direction: column;
    }
    .hero-info h1 {
        font-size: 2rem;
    }
    .hero-info p {
        font-size: 1rem;
    }
    .hero-images {
        display: flex;
        justify-self: center;
        overflow: scroll;
    }
    .app-img {
        width: 10rem;
    }
}

@media screen and (min-width: 800px) {
    .hero::before {
        background-size: contain;
        height: 100%;
    }
    .hero-info h1 {
        font-size: 3rem;
    }
    .hero-info p {
        font-size: 1.25rem;
    }
    .hero-images {
        display: block;
        justify-self: center;
    }
    .app-img {
        width: 12rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero-center {
        align-items: center;
        justify-content: center;
        padding-bottom: 12vh;
    }
    .hero-info h1 {
        max-width: 100%;
        font-size: 5.5rem;
    }
    .hero-images {
        align-self: end;
    }
    .app-img {
        width: 15rem;
    }
}

@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .app-img {
    width: 17rem;
  }
}
body{
  background-image:linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.main_div{
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 100vh;
background-image: linear-gradient(#d76be9 #9fe5f4 #e3c98a
);  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  margin-top: 30px;
  width: 70%;
  height: 90vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px 15px 15px 15px;
  overflow-y: scroll;
}


.todo-head{
  color: #000000;
  background: transparent;
   padding: 6px 0 2px 0;
  margin-bottom: 10px;
}
.center_div::-webkit-scrollbar {
  width: 8px;
}

.center_div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.center_div::-webkit-scrollbar-thumb {
  background:darkgray;
  border-radius: 10px;
}

/* Handle on hover */
.center_div::-webkit-scrollbar-thumb:hover {
  background: #8566aa;
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px #000000;
  outline: none;
}

button, #edit{
  min-height: 33px;
  min-width: 37px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #000000;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);

}

#edit{
  font-size: 28px;
  padding: 7px;
}

button:hover{
  background-color: #20bf6b;
}
#edit:hover{
  background-color: black;
}

ol{
  margin-top: 30px;
}
.todo_style{
  background-color: #ffffff;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  margin: 20px;
  margin-bottom: 15px;
}

ol ul{
  width: 70%;
  padding-left: 0px;
  text-align: left;
  font-weight: 500;
  min-height: 40px;
  align-items: center;
  color: #000000;
}

.task{
  margin-top: 10px;
  font-size: 26px;
  margin-bottom: px;
}
.created, .modified{
  font-size: 15px;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-check{
  width: 26px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 20px 0 20px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

.todo_style .fa-trash-o{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 20px 0 0px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  left: 0;
  position: relative;
}
.todo_style .fa-edit{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 20px 0 70px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  left: 0;
  position: relative;
}

.todo_style .fa-check:hover{
  background-color: #20bf6b;
}

.todo_style .fa-trash-o:hover{
  background-color: crimson;
}

.todo_style .fa-edit:hover{
  background-color: rgb(0, 166, 255);
}


@media (max-width:768px) {
  .center_div{
    width: 55%;
  }

  button{
    margin-left: 5px;
    font-size: 30px;
  }

  .todo_style .fa-trash-o{
    margin: 0 15px 0 15px;
  }
  .todo_style .fa-check{
    margin: 0 0px 0 35px;
  }
  .todo_style .fa-edit{
    margin: 0 0px 0 35px;
  }
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}