/*****************
 *****************
   Sign Up STYLES
 *****************
 *****************/
 /* --gradient-secondary-alt: linear-gradient(to top left, #ffb003, #ffccff); */
#sign-up {
  /* background: #181d23 url(./images/hero.svg) no-repeat right; */
  background: linear-gradient(to top left, #ccebff, #bf80ff);
  /* background: url(./images/signup-bg-alt.svg) no-repeat right; */
  background-size: cover;
  /* clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%); */
  color: #fafafa;
  min-height: 100vh;
  width: 100%;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: -100px 0;
  z-index: 1;
}
.signUp-title {
  color: rgba(0, 0, 0, 0.712);
}
#sign-up .container {
  width: 70%;
  max-width: 1200px;
  padding: 25vh 0;
}

#sign-up .container .heading-wrapper {
  display: flex;
  justify-content: space-between;
}

#sign-up .heading-wrapper .social a {
  color: #fafafa;
}

#sign-up .heading-wrapper .social a:hover {
  color: #f300b4;
}

.heading-wrapper .heading .title {
  font-size: 3rem;
  line-height: 2.4rem;
}

.heading-wrapper .heading .separator {
  background: #f300b4;
  width: 150px;
  height: 2px;
  margin: 1rem 0;
}

.heading-wrapper .heading .subtitle {
  font-size: 1.4rem;
}

#contact-form {
  margin-top: 1rem;
}

input,
textarea {
  border: none;
  padding: 1rem;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 40%;
  transition: 200ms;
  text-align: left;
}

input[type='text'],
input[type='email'],
input[type='text']:not(output):not(:focus),
input[type='email']:not(output):not(:focus),
textarea {
  border-bottom: 1px solid #fafafa;
  background: transparent;
  color: #f300b2ce;
  font-size: 1.8rem;
  box-shadow: none;
  outline: none;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='text']:not(output):focus,
input[type='email']:not(output):focus,
textarea:focus {
  border-bottom: 1px solid #f300b4;
}

input[type='submit'] {
  background: #f300b4;
  color: #fafafa;
  margin-top: 1rem;
  width: auto;
  float: right;
}

input[type='submit']:hover,
input[type='submit']:focus {
  cursor: pointer;
  color: #ccc;
  background: #fafafa;
}

::placeholder {
  color: #413f3fcc;
}

@media only screen and (max-width: 1980px) {
  #sign-up {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 1149px) {
  #sign-up {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 649px) {
  #sign-up {
    /* clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 0 100%); */
    margin-top: 5rem;
  }
}
